*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Karla', sans-serif;
}

.capturar {
    display: grid;
    font-size: 16px;
    justify-content: start;
    justify-items: end;
    margin-top: 12px;
    margin-left: 12px;
}
.capturar label{
    margin-bottom: 8px;
}
.capturar label > input{
    padding: 2px;
}
.btn_agregar {
    background-color: #4cc3b0;
    border: none;
    border-radius: 7px;
    color: #242323cf;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 7px;
}
.btn_agregar:hover {
    background-color: #242323cf;
    color: #4cc3b0;
}
.resultados {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.table{
    display: grid;
    justify-content: center;
    padding: 5px;
}
.table thead {
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}
.table thead > tr > td{
    font-size: 18px;
    margin: 1px 17px 1px 23px;
    padding: 0px 12px 0px 12px;
    text-align: center;
}
.table tbody > tr > td {
    font-size: 16px;
    margin-top: 12px;
}
.table tbody > tr {
    display: flex;
    justify-content: space-around;
}
.final {
    margin-top: 24px;
    display: grid;
    justify-content: center;
    justify-items: center;
    color: #4cc3b0;
    font-size: 16px;
}